/*STYLES*/

* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

a {
    text-decoration: none;
}

.clearfix:after {
    content: " ";
    display: table;
    clear: both;
}

h1 {
    font-size: 55px;
}

.btn {
    width: 200px;
    background-color: #fb565a;
    border: none;
    outline: none;
    border-radius: 5px;
    color: #eefbf6;
    font-size: 16px;
    line-height: 50px;
    margin: 0 auto;
}

.btn:hover {
    background: #e74246;
}

.btn:active {
    color: #e37376;
    background-color: #d7373b;
}

.wrapper {
    display: block;
    max-width: 1440px;
    margin: 0 auto;
    box-sizing: border-box;
}

/* HEADER*/

.header-size {
    background: #eee;
    max-width: 1440px;
    margin: 0 auto;
    padding-top: 50px;
}

.header {
    background: #eee;
    margin: 0 auto;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    max-width: 1162px;
}

.header__img {
    display: flex;
    margin: 0;
    flex-basis: 150px;
    float: left;
}

.header__img:hover {
    opacity: 0.8;
}

.header__img:active {
    opacity: 0.4;
}

.header__menu {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    flex-basis: 440px;
    margin-left: 202px;
}

.header__menu_a {
    font-weight: 500;
    color: #000;
}

.header__basket {
    display: flex;
    padding: 0;
    margin: 0;
}

.header__basket_a {
    margin-left: 25px;
    font-weight: 500;
}

.header__basket {
    padding-right: 2px;
}

.header__basket::before {
    content: "";
    display: inline-block;
    background: url(../img/basket.png);
    width: 15px;
    height: 15px;
}

.header__basket:active::after {
    content: "";
    width: 100%;
    border-bottom: 2px solid #fb565a;
}

.header__basket_a:hover {
    color: #fb565a;
}

.header__basket_a:active {
    color: #a6a6a6;
}

.header__menu_a:hover {
    color: #fb565a;
}

.header__menu_a:focus {
    border-bottom: 2px solid #fb565a;
    padding-top: 10px;
    padding-bottom: 8px;
}

.header__menu_a:active {
    color: #a6a6a6;
}

.header__basket_a {
    text-decoration: none;
    color: #000;
}

.header__basket_img {
    display: block;
    background: url(../img/basket.png);
    width: 15px;
    height: 15px;
    margin-right: 15px;
}

.header__article {
    padding: 58px 0 102px 0;
}

.header__article_h2 {
    text-align: center;
    margin: 0 auto;
    font-weight: 500;
    font-size: 55px;
}

/*SLIDER index.html*/

.slider {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: row wrap;
    max-width: 1160px;
    margin: 0 auto;
}

.slide {
    display: flex;
    position: relative;
    max-width: 1160px;
    padding-bottom: 77px;
}

.slide2 {
    display: none;
}

.slide3 {
    display: none;
}

.container {
    display: flex;
    flex-flow: column;
}

.container__head {
    display: inline-block;
    margin: 64px 0 26px;
    line-height: 55px;
    font-size: 55px;
    font-weight: bold;
    width: 520px;

}

.container__text {
    line-height: 24px;
    color: #283136;
    padding-left: 1px;
}

.container__btn {
    position: relative;
    margin: 38px 0 2px 0;
    padding: 0 20px;
    text-align: center;

}

.container_radio {
    position: relative;
    display: block;
    bottom: 19px;
    left: 537px;
    width: 0;
    height: 0;

}

.container_radio::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 100;
    width: 18px;
    height: 18px;
    background: url(../img/head_btn_1.png) no-repeat;
}

.container_radio:checked::before {
    background: url(../img/head_btn.png) no-repeat;
}

.radio-2 {
    left: 571px;
}

.radio-3 {
    left: 606px;
}

.image__head {
    display: block;
    position: absolute;
    width: 698px;
    height: 413px;
    left: 430px;
    top: 3px;
    bottom: 0;

}

.head2 {
    display: block;
    position: absolute;
    width: 663px;
    height: 430px;
    left: 500px;
    bottom: 0;

}

.head3 {
    display: block;
    position: absolute;
    width: 759px;
    height: 411px;
    left: 400px;
    bottom: 0;
}

/*MENU shop.html*/

.menu {
    display: flex;
    flex-flow: row nowrap;
    max-width: 1160px;
    justify-content: space-between;
    margin: 0 auto;
    padding: 56px 0 47px 0;
}

.menu__price {
    padding-right: 278px;
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
    letter-spacing: 0.04em;
}

.menu__sort {
    padding-right: 265px;
    font-size: 18px;
    font-weight: 700;
    margin-left: 0;
}

.menu__type {
    display: block;
    position: relative;
    padding-right: 73px;
    padding-top: 2px;
}

.menu__type_ul {
    list-style: none;
}

.menu__type_li {
    display: inline-block;
    padding-right: 20px;
    align-items: center;
}

.menu_type_li-3 {
    padding-right: 18px;
}

.menu__type_a:hover {
    color: #000;
}

.menu__type_a {
    text-decoration: none;
    color: #b2b2b2;
    font-size: 14px;
}

.menu__type::after {
    content: "";
    display: block;
    position: absolute;
    background-image: url(../img/page-down.png);
    width: 9px;
    height: 9px;
    left: 320px;
    bottom: 13px;
}

.menu__type:hover::after {
    background-image: url(../img/page-down-copy.png);
}

.menu__type:active::after {
    background-image: url(../img/page-down-click.png);
}

.menu__type::before {
    content: "";
    display: block;
    position: absolute;
    float: right;
    left: 350px;
    top: 9px;
    background-image: url(../img/page-up.png);
    width: 9px;
    height: 9px;
}

.menu__type:hover::before {
    background-image: url(../img/page-up-copy.png)
}

.menu__type:active::before {
    background-image: url(../img/page-up-click.png)
}

.content {
    display: flex;
    flex-wrap: nowrap;
    margin: 0 auto;
    max-width: 1160px;
}

.content__left-column {
    display: flex;
    flex-flow: column;
}

.left-column__range-filter {
    display: block;
    position: relative;
    padding-bottom: 30px;
}

.price-controls {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    white-space: nowrap;
    font-size: 16px;
    line-height: 22px;
    font-weight: 300;
    text-transform: uppercase;
    width: 261px;
}

.price-controls::before {
    content: "";
    display: block;
    background: url(../img/range.png);
    width: 261px;
    height: 82px;

}

.price-controls_min-wrapper {
    padding-top: 10px;
}

.price-controls_max-wrapper {
    padding-top: 10px;
    padding-right: 2px;
}

.price-controls_min-price,
.price-controls_max-price {
    width: 65px;
    padding: 8px 0;
    margin-left: 6px;
    background: #f1f1f1;
    border: none;
    border-radius: 5px;
    color: #283136;
    text-align: center;
    font-weight: 300;
}

.price-controls .price-controls_min-price {
    width: 80px;
    height: 20px;
    padding: 10px 0 10px 2px;
    margin-right: 14px;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    color: #283136;
}

.price-controls .price-controls_max-price {
    width: 80px;
    height: 20px;
    padding: 10px 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    color: #283136;
}

.left-column__grid {
    padding: 28px 0 28px 0;
}

.grid_filters-title,
.features_filters-title {
    font-size: 18px;
    font-weight: 700;
    padding-bottom: 20px;
}

.grid_radio {
    display: none;
}

.grid_span {
    color: #283136;
}

.grid_span:hover {
    opacity: 1;
    color: #000;
}

.grid_span:hover::before {
    opacity: 1;
}

.grid_radio + .grid_span {
    position: relative;
    padding-left: 35px;
}

.grid_radio + .grid_span::before {
    content: "";
    position: absolute;
    overflow: hidden;
    left: 0;
    width: 25px;
    height: 25px;
    background: url(../img/sprites.png) no-repeat -33px 0;
    opacity: 0.4;
}

.grid_radio:checked + .grid_span::before {
    background-position: 0 0;
}

.grid_span:hover::before {
    opacity: 1;
}

.left-column__features {
    padding-bottom: 30px;
}

.grid_label,
.features_label {
    display: block;
    position: relative;
    margin-bottom: 20px;
    color: #666;
    font-size: 16px;
    line-height: 20px;
    font-weight: 300;
    cursor: pointer;
}

.features_checkbox + .features_span {
    position: relative;
    padding-left: 35px;
}

.features_checkbox + .features_span::before {
    content: "";
    position: absolute;
    overflow: hidden;
    left: 0;
    width: 25px;
    height: 25px;
    background: url(../img/sprites.png) no-repeat -33px -33px;
    opacity: 0.4;
}

.features_checkbox:checked + .features_span::before {
    background-position: 0 -33px;
}

.features_checkbox {
    display: none;
}

.features_span {
    color: #283136;
}

.features_span:hover {
    color: #000;
}

.features_span:hover::before {
    opacity: 1;
}

.left-column_show {
    width: 260px;
    color: #000;
    background: #eee;
    line-height: 50px;
    font-weight: 700;
    text-align: center;
}

.left-column_show:hover {
    background: #dfdfdf;
}

.left-column_show:active {
    background: #d5d5d5;
    box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
    color: #959595;
}

/*menu index.html*/

.main {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    padding-top: 80px;
    max-width: 1160px;
    margin: 0 auto;
}

.main__menu {
    display: flex;
    flex-flow: column;
    max-width: 300px;
    padding-right: 100px;
}

.main_h2 {
    text-align: left;
    padding-top: 25px;
    padding-bottom: 19px;
    font-weight: 700;
    font-size: 24px;
}

.main_p {
    text-align: left;
    padding-bottom: 30px;
    line-height: 24px;
    color: #283136;
    padding-left: 2px;
}

.main_p-2 {
    padding-left: 0;
}

.buy {
    margin-top: 1px;
    width: 160px;
    margin-right: 0;
    margin-left: 0;
    text-align: center;
}

.btn_green {
    background: #00cb75;
}

.btn_green:hover {
    background: #00bc6c;
}

.btn_green:active {
    background: #00aa62;
    color: #4dc491;
}

.btn_yellow {
    background: #efc84a;
    color: #fff;
}

.btn_yellow:hover {
    background-color: #eab534;
    color: #fefaf1;
}

.btn_yellow:active {
    background-color: #e5a722;
    color: #edc265;
}

.padding-menu {
    padding-right: 0;

}

.main::after {
    content: "";
    display: block;
    overflow: hidden;
    border: 1px solid #eee;
    width: 1160px;
    margin-top: 80px;
}

/*CONTENT INDEX.html*/

.content-cont {
    display: flex;
    flex-flow: row;
    max-width: 1160px;
    padding-bottom: 68px;
    margin: 0 auto;

}

.text-cont {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: column;
    padding-top: 75px;

}

.text-cont_h3 {
    font-size: 45px;
    font-weight: 500;
    line-height: 45px;
    padding-bottom: 33px;

}

.text-cont_p {
    color: #283136;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    padding-bottom: 39px;
}

.text-cont_h4 {
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 10px;
}

.text-cont_ul {
    list-style: none;
    color: #283136;
    font-weight: 400;
    line-height: 35px;

}

.text-cont_li {
    padding-top: 8px;
}

.li-item {
    padding-top: 13px;
}

.text-cont_li::before {
    content: "";
    display: block;
    float: left;
    width: 25px;
    height: 2px;
    background: #fc565a;
    margin: 16px 11px 0 0;
}

.imaging {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: column;
    width: 360px;
    padding-left: 140px;
}

.imaging__cont {
    width: 360px;
    height: 208px;
    padding: 40px 0 37px 0;
    margin-left: 10px;

}

.imaging__cont_img {
    padding-bottom: 31px;
}

.imaging_h4 {
    font-weight: 700;
    text-align: center;
    line-height: 24px;
}

.imaging__number {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: row nowrap;
    max-width: 350px;

}

.table {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: column nowrap;
    text-align: left;

}

.table_h3 {
    font-size: 45px;
    font-weight: 700;
    padding: 59px 10px 14px 10px;
}

.table_h3-2 {
    padding: 59px 13px 14px 13px;
}

.table_p {
    color: #283136;
    padding-left: 11px;
}

.table_p-2 {
    padding-left: 13px;
}

.table_p-3 {
    padding-left: 12px;
}

.table_sup {
    font-size: 25px;
}

/*IMAGE BLOCK BEFORE FOOOTER index.html*/

.logos {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    max-width: 1100px;
    padding: 50px 0 40px 0;
    border-top: 2px solid #eee;
    border-bottom: 2px solid #eee;
    margin: 0 auto;

}

.logos__item {
    flex-basis: 18%;
    opacity: 0.2;
}

.logos__item:hover {
    opacity: 1;
}

.logos__item:active {
    opacity: 0.1;
}

.logos__item-pic {
    display: block;
}

/*CATALOG Shop.html*/

.catalog {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: stretch;
    padding-bottom: 15px;

}

.catalog_item {
    position: relative;
    flex-basis: 360px;
    overflow: hidden;
    margin: 0 0 34px 40px;
}

.catalog__image {
    height: 615px;
}

.catalog__image__browser-png {
    position: absolute;
    top: 0;
    opacity: 0.12;
}

.catalog__image__browser-png:hover {
    opacity: 1;
}

.catalog__description {
    position: absolute;
    bottom: -700px;
    transition: .5s all;
    text-align: center;
    left: 0;
    right: 0;
}

.description_title {
    color: #000000;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin: 0 auto;
    padding: 27px 0 18px 0;
}

.description_p {
    font-size: 16px;
    color: #666666;
    padding-bottom: 30px;
}

.description_btn {
    margin-bottom: 43px;
}

.catalog_item:hover .catalog__description {
    bottom: 0;
    padding-top: 2px;
    background: #eee;
}

.pagination {
    display: flex;
    flex-flow: row;
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
    padding: 13px 0 0 80px;
}

.pagination_page {
    display: block;
    width: 50px;
    height: 50px;
    background: #eee;
    margin-left: 12px;
    text-decoration: none;
    line-height: 50px;
    text-align: center;
    color: #000;
    font-weight: 500;
}

.content-page-next {
    width: 260px;
}

.content-page-active {
    outline: 3px solid #eee;
    background: #fff;
    width: 47px;
    height: 47px;
    margin-left: 6px;
}

/*FOOOTER*/

.footer-end {
    padding-top: 25px;
}

.footer__map {
    display: block;
    position: relative;
    max-width: 100%;
    max-height: 415px;
    margin-top: 55px;
}

.footer__map_img {
    width: 100%;
}

.nerds-catalog {
    display: block;
    position: absolute;
    width: 231px;
    height: 190px;
    background: url(../img/map-marker-png.png);
    left: 820px;
    top: 88px;
}

.footer__box {
    display: block;
    position: absolute;
    background: #fff;
    left: 140px;
    top: 53px;
    padding-left: 50px;
    width: 268px;
}

.footer__box_h2 {

    font-size: 18px;
    font-weight: 700;
    padding-top: 52px;

}

.footer__box_p {
    color: #666666;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    text-decoration: none;
    padding: 28px 0 17px 1px;
}

.footer__box_tel {
    color: #666;
    padding-left: 2px;
}

.footer__box_button {
    display: block;
    margin-left: 0;
    width: 187px;
    margin-top: 38px;
    margin-bottom: 45px;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    text-decoration: none;
    text-align: center;
    padding: 16px;
}

.footer__allback {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: row-reverse;
    max-width: 1160px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    padding-top: 60px;
}

.back {
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
    padding-right: 218px;
}

.back_h3 {
    font-size: 36px;
    font-weight: 700;
    padding-bottom: 8px;
}

.back_p {
    padding: 0 0 12px 2px;
    text-align: left;
    color: #444444;

}

.allback__icons {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: row;
    margin-top: 3px;
}

.allback__icons_VK {
    width: 85px;
    height: 90px;
    float: left;
    background-image: url(../img/styleguide.png);

}

.allback__icons_Facebook {
    width: 85px;
    height: 90px;
    background-image: url(../img/styleguide.png);
    background-position: -87px 0;
    margin-left: 2px;
}

.allback__icons_Instagram {
    width: 85px;
    height: 90px;
    background-image: url(../img/styleguide.png);
    background-position: -175px 0;
    margin-left: 4px;
}

.allback__icons_VK:hover {
    background-image: url(../img/styleguide.png);
    background-position: 0 -107px;
}

.allback__icons_Facebook:hover {
    background-image: url(../img/styleguide.png);
    background-position: -87px -107px;

}

.allback__icons_Instagram:hover {
    background-image: url(../img/styleguide.png);
    background-position: -175px -107px;

}

.allback__icons_VK:active {
    background-image: url(../img/styleguide.png);
    background-position: 0 -210px;
}

.allback__icons_Facebook:active {
    background-image: url(../img/styleguide.png);
    background-position: -87px -210px;
}

.allback__icons_Instagram:active {
    background-image: url(../img/styleguide.png);
    background-position: -175px -210px;
}

/*JS FORM*/

.popup {
    display: none;
}

.popup__bg {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.popup__form {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    width: 960px;
    height: 590px;
    box-shadow: 0 20px 40px rgba(0, 1, 1, 0.75);
    padding: 70px 50px 0 100px;

}

.popup__form__input {
    display: flex;
    flex-grow: 1;
    flex-basis: initial;
    flex-flow: row;
    padding-bottom: 35px;
}

.popup_holdinput {
    margin-top: 12px;
}

.popup__form .popup_holdinput {
    width: 360px;
    height: 50px;
    margin-right: 36px;
    border: 2px solid #d7dcde;
}

.popup_textarea {
    width: 760px;
    height: 118px;
    border: 2px solid #d7dcde;
    margin-top: 12px;
}

.popup__form_textarea {
    font-weight: 700;
}

.popup_label {
    font-weight: 700;
}

.popup__button {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin: 0 auto;
    text-align: center;
    line-height: 50px;
    width: 260px;
    height: 50px;
    margin-top: 45px;
    margin-left: 0;
}

.popup__form__article {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: row;
    justify-content: space-between;

}

.article_h3 {
    font-size: 45px;
    font-weight: 500;
    padding-bottom: 50px;
}

.article_img {
    width: 21px;
    height: 21px;
    opacity: 0.3;
    margin-top: 15px;
    padding-right: 200px;

}

.article_img:hover {
    opacity: 1;
}

.article_img:active {
    opacity: 0.1;
}

.visible {
    display: block;
}

::placeholder {
    opacity: 0.5;
    color: #444444;
    font-size: 16px;
    padding-left: 15px;
}