/*STYLES*/

*{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

a {
    text-decoration: none;
}

.clearfix:after {
    content: " ";
    display: table;
    clear: both;
}

h1 {
    font-size: 55px;
}

hr{
    background: #eee;
    height: 2px;
    border: none;
}

.btn {
    width: 200px;
    height: 50px;
    background-color: #fb565a;
    border: none;
    outline: none;
    border-radius: 5px;
    color: #eefbf6;
    font-size: 16px;
    line-height: 50px;
    margin: 0 auto;
}



.btn:hover {
    background: #e74246;
}

.btn:active{
    color:#e37376;
    background-color: #d7373b;
}

.wrapper {
    display: block;
    max-width: 1440px;
    margin: 0 auto;
}



/* HEADER*/

.header-size {
    background: #eee;
    max-width: 1440px;
    margin: 0 auto;
    padding-top: 50px;
}


.header {
    background: #eee;
    margin: 0 auto;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    max-width: 1165px;
}

.header__img {
    margin: 0;
}

.header__img:hover {
    opacity: 0.8;
}

.header__img:active {
    opacity: 0.4;
}

.header__menu ul{
    list-style-type: none;
}

.header__menu li {
    display: inline-block;
    margin-top: 10px;
    margin-right: 42px;

}

.header__menu a {
    font-weight: 700;
    color: #000;
}

.header__basket {
    padding: 0;
    margin: 0;
}


.header__basket a {
    margin-left: 30px;
    font-weight: 500;
}

.package {
    font-weight: 700;
}

.header__basket {
    margin-top: 10px;
}

.header__basket::before{
    content: "";
    display: inline-block;
    background: url(../img/basket.png);
    width: 15px;
    height: 15px;
}

.header__basket:active::after {
    content: "";
    width: 100%;
    margin-top: 2px;
    height: 2px;
    background: #fb565a;
}

.header__basket a:hover{
    color: #fb565a;
}

.header__basket a:active {
    color: #a6a6a6;
}

.header__menu a:hover{
    color: #fb565a;
}

.header__menu a:focus{
    border-bottom: 2px solid #fb565a;
    padding-bottom: 2px;
}

.header__menu a:active {
    color: #a6a6a6;
}

.header__basket a {
    text-decoration: none;
    color: #000;
}

.header__basket_img {
    display: block;
    background: url(../img/basket.png);
    width: 15px;
    height: 15px;
    margin-right: 15px;
}

.header__article {
    padding: 67px 0 100px 0;
}

/*SLIDER index.html*/

.slider {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: row;
    max-width: 1160px;
    height: 415px;
    margin: 0 auto;
}

.slide {
    display: flex;
    position: relative;
    max-width: 1160px;
    margin: 0 auto;
    height: 415px;
}

.container {
    display: flex;
    flex-flow: column;
}

.container__head {
    display: inline-block;
    margin:65px 0 25px;
    line-height: 55px;
    font-size: 55px;
    font-weight: bold;
    width: 520px;


}

.container__text {
    line-height: 24px;
}


.container__btn {
    width: 240px;
    padding: 0 auto;
    margin: 40px 0 0 0;
}

.image__head{
    display: block;
    position: absolute;
    width: 698px;
    height: 413px;
    left: 430px;

}

.head2 {
    display: block;
    position: absolute;
    width: 663px;
    height: 430px;
    left: 500px;

}

.head3 {
    display: block;
    position: absolute;
    width: 759px;
    height: 411px;
    left: 400px;
}

/*MENU shop.html*/


.menu {
    display: flex;
    flex-flow: row;
    max-width: 1160px;
    margin: 0 auto;
    padding: 56px 0 56px 0 ;
}

.price {
    padding-right: 285px;
    padding-top: 5px;
    font-size: 18px;
    font-weight: 700;
}

.sort {
    padding-right: 265px;
    font-size: 18px;
    font-weight: 700;
}

.type {
    padding-right: 32px;
    padding-top: 5px;
}

.type ul{
    list-style: none;
}

.type li {
    display: inline;
    padding-right: 20px;

}

.type a:hover{
    color: #000;
}

.type a {
    text-decoration: none;
    color: #b2b2b2;
    font-size: 14px;
}

.cursor {
    display: flex;
    flex-flow: row;
    padding-top: 10px;
}

.page-down {
    background-image: url(../img/page-down.png);
    width:9px;
    height:9px;
    margin-right: 20px;
}

.page-down:hover{
    background-image: url(../img/page-down-copy.png);
}

.page-down:focus {
    background-image: url(../img/page-down-click.png);
}

.page-down:active {
    background-image: url(../img/page-down-click.png);
}

.page-up{
    background-image: url(../img/page-up.png);
    width: 9px;
    height: 9px;
}

.page-up:hover {
    background-image: url(../img/page-up-copy.png)
}

.page-up:active {
    background-image: url(../img/page-up-click.png)
}

.content {
    display: flex;
    flex-wrap: nowrap;
    margin: 0 auto;
    max-width: 1160px;
}

.left-column {
    display: flex;
    flex-flow: column;
}

.left-column h2{
    font-size: 18px;
    font-weight: 700;
    padding-bottom: 20px;
}

.filters p {
    float: left;
    color:#666;
    font-size:16px;
    line-height:20px;
    font-weight:300;
}
.range-filter {
    width:240px;
    margin-bottom:30px;
}
.range-controls {
    position:relative;
    height:80px;
    width: 210px;
    margin-bottom:12px;
    padding:0 35px 0 15px;
    background:#f1f1f1;
    border-radius:5px;
    overflow:hidden;
}
.range-controls .scale {
    height:2px;
    margin-top:36px;
    background:#d7dcde;
}
.range-controls .bar {
    height:2px;
    background:#00ca74;
}
.range-controls .toggle {
    position:absolute;
    top:27px;
    left: 10px;
    width:4px;
    height:4px;
    background:#ababab;
    border:8px solid white;
    border-radius:50%;
    box-shadow:0 2px 1px 0 #cfcfcf;
    cursor:pointer;
    box-sizing: content-box;
}
.range-controls .max-toggle {
    left:160px;
}
.price-controls input {
    width:65px;
    padding:8px 0;
    margin-left:6px;
    background:#f1f1f1;
    border:none;
    border-radius:5px;
    color:#283136;
    text-align:center;
    font-weight:300;
}
.price-controls .min-price {
    width: 80px;
    height: 20px;
    padding: 10px 0;
    margin-right:14px;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    color: #283136;
}

.price-controls .max-price {
    width: 80px;
    height: 20px;
    padding: 10px 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    color: #283136;
}


.price-controls input:focus{
    outline:none;
}
.price-controls {
    position:relative;
    white-space:nowrap;
    font-size:16px;
    line-height:22px;
    font-weight:300;
    text-transform:uppercase;
}
.max-wrapper {
    position:absolute;
    top:0;
    right: -17px;
}
.grid {
    padding:28px 0 28px 0;
}

.features {
    padding-bottom: 30px;
}

.grid label,
.features label {
    display: block;
    position: relative;
    margin-bottom:20px;
    padding:0 35px;
    color:#666;
    font-size:16px;
    line-height:20px;
    font-weight:300;
    cursor: pointer;
}
input[type="checkbox"] + span {
    position: absolute;
    top: 0;
    left: 0;
    width: 25px;
    height: 25px;
    background: url(../img/sprites.png) no-repeat 0 -50px;
    cursor: pointer;
}
input[type="checkbox"]:checked + span 	 {
    background: url(../img/sprites.png) no-repeat -50px -50px;
}
input[type="checkbox"] {
    display:none;
}
input[type="radio"] + span {
    position: absolute;
    top: 0;
    left: 0;
    width: 25px;
    height: 25px;
    background: url(../img/sprites.png) no-repeat -49px 0;
    cursor: pointer;
}
input[type="radio"]:checked + span {
    background: url(../img/sprites.png) no-repeat 0 0;
}
input[type="radio"] {
    display:none;
}

.show {
    width: 260px;
    border: none;
    outline: none;
    color: #000;
    border-radius: 2px;
    background: #eee;
    font-size: 16px;
}

.show:hover{
    background: #dfdfdf;
}

.show:active{
    background: #d5d5d5;
    color: #959595;
    border-top: 1px solid #bfbfbf;
}

/*menu index.html*/

.middle {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: flex-start;
    padding: 80px 0 72px 0;
    max-width: 1165px;
    margin: 0 auto;
}

.menu-index {
    display: flex;
    flex-flow: column;
    max-width: 300px;
    padding-right: 100px;
}

.middle h3 {
    text-align: left;
    padding-top: 25px;
    padding-bottom: 20px;
    font-weight: 700;
    font-size: 24px;
}

.middle p {
    text-align: left;
    padding-bottom: 35px;
    line-height: 24px;
}

.buy {
    width: 160px;
    margin-right: 0;
    margin-left: 0;
}

.btn_green {
    background: green;
}

.btn_green:hover {
    background: #00bc6c;
}

.btn_green:active{
    background: #00aa62;
    color: #4dc491;
}

.btn_yellow {
    background: #efc84a;
    color: #fff;
}

.btn_yellow:hover {
    background-color: #eab534;
    color: #fefaf1;
}

.btn_yellow:active {
    background-color: #e5a722;
    color: #edc265;
}

.padding-menu {
    padding-right: 0;

}

/*CONTENT INDEX.html*/

.content-cont{
    display: flex;
    padding-bottom: 70px;
}

.text-cont {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: column;
    padding: 80px 0 0 140px;

}

.text-cont h3 {
    width: 650px;
    height: 87px;

    font-size: 45px;
    font-weight: 500;
    line-height: 45px;
    padding-bottom: 35px;

}

.text-cont p {
    color: #283136;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    padding-bottom: 40px;
}

.text-cont h4 {
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 10px;
}

.text-cont ul {
    list-style: none;
    color: #283136;
    font-weight: 400;
    line-height: 35px;

}

.text-cont li {
    padding-top: 10px;
}

.developing::before {
    content: "";
    display: block;
    float:left;
    width: 25px;
    height: 2px;
    background: #fc565a;
    margin: 15px 5px 0 0;
}

.imaging{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: column;
    width: 360px;
    padding-left: 140px;
}



.image-cont {
    padding: 45px 0 32px 0;
    margin-left: 10px;

}

.main-number {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: row;
}

.number {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: column;
    text-align: left;
}

.number h3 {
    font-size: 45px;
    font-weight: 700;
    padding: 35px 10px 13px 10px;
}

.number p {
    color: #283136;
    padding-left: 10px;
}

.textblock {
    font-weight: 700;
    padding-left: 25px;   /* Если отцентрировать в с помощью text-align:center размеры не те получаеться */
    line-height: 24px;
}

sup {
    font-size: 25px;
}

/*IMAGE BLOCK BEFORE FOOOTER index.html*/

.photo {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: row;
    align-items: baseline;
    max-width: 1160px;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 22px;
}

.photo-1 {
    opacity: 0.2;
}

.photo-1:hover {
    opacity: 1;
}

.photo-1:active {
    opacity: 0.1;
}

.vertical::before {
    content: "";
    display: block;
    width: 2px;
    height: 52px;
    background: #eee;
    float: right;
    margin-bottom: 52px;
    margin-left: 50px;

}

.item {
    padding-left: 27px;
}

.item-1 {
    padding: 0 53px 0 46px;
}

.item-2 {
    padding-right: 68px;
}

/*CATALOG Shop.html*/

.catalog {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: stretch;
    padding-bottom: 15px;

}

.catalog-item {
    position: relative;
    flex-basis: 360px;
    overflow: hidden;
    margin: 0 0 30px 40px;
}

.catalog-image {
    position: relative;
    height: 615px;
}

.browser-png {
    position: absolute ;
    top: 0;
    opacity: 0.12;
}

.browser-png:hover{
    opacity: 1;
}

.description {
    position: absolute;
    bottom: -300px;
    height: 231px;
    transition: .5s all;
    text-align: center;
    left: 0;
    right: 0;
}

.description-title {
    color: #000000;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin: 0 auto;
    padding: 35px 0 25px 0;
}

.description-p {
    font-size: 16px;
    color: #666666;
    padding-bottom: 30px;
}

.catalog-item:hover .description {
    bottom: 0;
    background: #eee;
}


.content-pagination {
    display: flex;
    flex-flow: row;
    max-width: 450px;
    margin: 0 auto;
    padding: 15px 0 0 80px;
}

.content-page {
    display: block;
    width: 50px;
    height: 50px;
    background: #eee;
    margin: 6px;
    text-decoration: none;
    line-height: 50px;
    text-align: center;
    color: #000;
    font-weight: 500;
}

.content-page-next{
    width: 260px ;
}

.content-page-active {
    outline: 3px solid #eee;
    background: #fff;
    width: 47px;
    height: 47px;
}



/*FOOOTER*/


.map {
    display: block;
    position: relative;
    max-width: 100%;
    max-height: 415px;
    display: block;
    position: relative;
    margin-top: 55px;
}

.map img {
    width: 100%;
}

.nerds-catalog {
    display: block;
    position: absolute;
    width: 231px;
    height: 190px;
    background: url(../img/map-marker-png.png);
    left: 820px;
    top: 88px;
}

.box {
    display: block;
    position: absolute;
    width: 320px;
    height: 310px;
    background: #fff;
    left: 140px;
    top: 54px;
}

.box h2{

    font-size: 18px;
    font-weight: 700;
    padding: 54px 0 0 50px;

}

.box p {
    color: #666666;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    text-decoration: none;
    padding: 28px 0 17px 50px;
}

.box a{
    color: #666666;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    text-decoration: none;
    padding-left: 50px;
}

.button {
    width: 220px;
    margin-left: 50px;
    margin-top: 35px;
}


.allback {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: row-reverse;
    max-width: 1160px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    padding-top: 60px;
}

.back {
    display: block;
    text-align: center;
    padding-right: 220px;
}

.end-art {
    font-size: 36px;
    font-weight: 700;
    padding-bottom: 10px;
}

.end {
    display: block;
    padding-bottom: 5px;
    text-align: left;
    color: #444444;

}

.social {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: row;
}

.VK{
    width: 85px;
    height: 90px;
    float: left;
    background-image: url(../img/styleguide.png);

}

.Facebook{
    width: 85px;
    height: 90px;
    background-image: url(../img/styleguide.png);
    background-position: -87px 0;
}

.Instagram{
    width: 85px;
    height: 90px;
    background-image: url(../img/styleguide.png);
    background-position: -175px 0;
}

.VK:hover{
    background-image: url(../img/styleguide.png);
    background-position: 0 -107px;
}

.Facebook:hover{
    background-image: url(../img/styleguide.png);
    background-position: -87px -107px;

}

.Instagram:hover{
    background-image: url(../img/styleguide.png);
    background-position: -175px -107px;

}

.VK:active {
    background-image: url(../img/styleguide.png);
    background-position: 0 -210px;
}

.Facebook:active {
    background-image: url(../img/styleguide.png);
    background-position: -87px -210px;
}

.Instagram:active {
    background-image: url(../img/styleguide.png);
    background-position: -175px -210px;
}

/*JS FORM*/

.popup{
    display: none;
}

.popup__bg{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.popup__form{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    width: 960px;
    height: 590px;
    box-shadow: 0 20px 40px rgba(0, 1, 1, 0.75);
    padding: 70px 50px 0 100px;
}

.popup__form h2 {
    font-size: 45px;
    font-weight: 500;
    padding-bottom: 50px;
    padding-right: 445px;
}

.input  {
    display: flex;
    flex-grow: 1;
    flex-basis: initial;
    flex-flow: row;
    padding-bottom: 35px;
}

.input input {
    margin-top: 12px;
}

.popup__form input {
    width: 360px;
    height: 50px;
    margin-right: 36px;
    border: 2px solid #d7dcde;
}

textarea {
    width: 760px;
    height: 118px;
    border: 2px solid #d7dcde;
    margin-top: 12px;
}

.popup__form label {
    font-weight: 700;
}

.btn-form {
    width: 260px;
    height: 50px;
    margin-top: 45px;
}

.article {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: row;

}

.article img {
    width: 21px;
    height: 21px;
    opacity: 0.3;
    margin-top: 15px;
}

.article img:hover {
    opacity: 1;
}

.article img:active {
    opacity: 0.1;
}

.btn-form p {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin: 0 auto;
    text-align: center;
    line-height: 50px;

}

.visible{
    display: block;
}

::placeholder {
    opacity: 0.5;
    color: #444444;
    font-size: 16px;
    padding-left: 15px;
}

.line {
    display: block;
    width: 1160px;
    height: 2px;
    background: #eee;
    margin: 0 auto;
}



/* OWL SLIDER */

.owl-carousel {
    position: relative;
}

div:not(.owl-controls) {
}

.owl-slide {
    background-image: url('https://images.unsplash.com/photo-1437915015400-137312b61975?fit=crop&fm=jpg&h=800&q=80&w=1200');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

div.owl--text {
    position: absolute;
    bottom: 4em;
    left: 2em;
    width: 20em;
    height: 8em;
    padding: 1em;
    background: rgba(255, 255, 255, .5);
    border-radius: 4px;
}

.owl-controls {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;

.owl-buttons {
div {
    position: absolute;
    top: 0;
    bottom: 0;
    display: inline-block;
    zoom: 1;
    margin: 0;
    width: 50px;
    height: 30px;
    line-height: 25px;
    text-align: center;
    font-size: .9em;
    border-radius: 3px;
    color: #FFF;
    background: #000;
    opacity: .6;
    text-transform: capitalize;
}

.owl-prev {
    left: 5px;
}

.owl-next {
    right: 5px;
}

body,
html {
    height: 100%;
}

